{{#each beersFromApi}}

<div id="beer">
    <img src="{{this.image_url}}" alt="beerimage">

    <h2>NAME:</h2>
    <p id="beer-name">{{this.name}}</p>

    <h3>Description:</h3>
    <p>{{this.description}}</p>

    <h4>Tagline:</h4>
    <p>{{this.tagline}}</p>

    <h4>Food Pairing:</h4>
    <p>{{this.food_pairing}}</p>

    <h4>Brewers Tips:</h4>
    <p>{{this.brewers_tips}}</p>
</div>

{{/each}}